{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form action="{% url 'review:update' review.pk %}" method="POST">
        {% csrf_token %}
        {{ review_form.as_p }}
        {% comment %} <div class="mb-3">
            <label class="form-label">제목</label>
            <input type="text" class="form-control" name="title" value="{{review.title}}">
        </div>
        <div class="mb-3">
            <label class="form-label">내용</label>
            <input type="text" class="form-control" name="content" value="{{review.content}}">
        </div>{% endcomment %}
        <button type="submit" class="btn btn-primary" style="width:100%;">리뷰 수정</button> 
    </form>
</div>
{% endblock  %}