body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.wrap {
    width: 1920px;
    height: 5000px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    position: sticky;
    top: 0;
    height: 80px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 2;
}

.header img {
    height: 60px;
}

.header-ls {
    display: flex;
    align-items: center;
}

.header-ls li {
    list-style-type: none;
    padding: 15px;
}

.ls-item a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.ls-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.ls-item:hover a {
    text-decoration: none;
}

.ls-item a:hover {
    text-decoration: none;
    color: black;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    font-size: 30px;
    background-image: url("../img/background.jpg");
}

.banner h1 {
    font-family: 'Gugi', cursive;
}

.container {
    width: 1920px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.aside {
    /* 수정 가능성 약간 있음 */
    width: 20%;
    padding: 2rem 1rem 1rem 1rem;
    background-color: rgba(161, 157, 157, 0.05);
}

.aside h2 {
    font-size: 30px;
}

.genre-ls {
    list-style-type: none;
    padding-left: 0;
    line-height: 2;
}

.movie {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 80%;
    height: 1200px;
    padding: 24px;
}

.movie-realtime {
    margin-bottom: 50px;
    font-size:50px;
    font-family: 'Gugi', cursive;
}

.movie-rank {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 980px;
    padding: 24px;
}

.img-box {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.img-box img {
    width: 300px;
    border-radius: 15px;
    box-shadow: 10px 10px 30px gray;
}

.ranking-box {
    position: relative;
}

.ranking {
    position: absolute;
    color: black;
    font-size: 100px;
    top: -80px;
    left: 20px;
    font-family: 'Gugi', cursive;
}

.layout {
    position:absolute;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.layout:hover {
    position:absolute;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    border-radius: 15px;
    color:white;
    text-align: center;
    line-height: 430px;
    font-size: 30px;
}

.movie-title {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.movie-title h2 {
    width: 33.3%;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}

.footer {
    width: 100%;
    height: 40px;
    position: sticky;
    bottom: 0;
    background: black;
}

.footer p {
    color: white;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}

