{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1 class="my-3">홈페이지</h1>
    {% if request.user.is_authenticated %}
      <a href="{% url 'articles:create' %}" class="btn btn-outline-success mb-5">글쓰기</a>
    {% endif %}
    <div class="row">
      {% for article in articles %}
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            {% if article.image %}
              <img src="{{ article.image.url }}" class="card-img-top" alt="" width="400" height="300">
            {% else %}
              <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top" width="400" height="300">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{article.title}}</h5>
              <p>{{ article.user.username }}</p>
              <p class="card-text">{{article.content}}</p>
              <a href="{% url 'articles:detail' article.pk %}" class="btn btn-primary">더 보기</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
